.cursor-pointer { cursor: pointer; }
.no-shadow { box-shadow: none !important; }
.revert-all { all: revert; }

.btn.btn-xs {
    padding: .20rem .4rem;
    font-size: .725rem;
    border-radius: .1rem;
}

.disabled-all * a:not(.no-disable),
.disabled-all * input:not(.no-disable),
.disabled-all * select:not(.no-disable),
.disabled-all * textarea:not(.no-disable),
.disabled-all * button:not(.no-disable):not([role="tab"]):not(.page-link),
.disabled-all * input-key:not(.no-disable),
.disabled-all * edit-table:not(.no-disable):not([readonly])
{
    pointer-events: none;
    user-select: none;
    background-color: #e9ecef;
    color: black;
    border: 1px solid #dee2e6;
    opacity: 1;
}
.disabled-all * label
{
    pointer-events: none;
    user-select: none;
    opacity: 1;
}

form input, form select, form textarea {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ced4da !important;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #86b7fe !important;
}